* {
   /*outline: 1px solid red;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

nav a, button {
    min-width: 48px;
    min-height: 48px;
}

html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    color: white;
    background-color: #A3C4BC;

}

.resume {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
}

.my-pic {
    width: 160px;
    height: auto;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
}

.my-name {
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: 0px;
    color: #F7CB15;
    font-size: 3.2em;
    text-shadow: 1px 4px 2px rgba(0,0,0,.16);
    font-weight: bold;
}

.my-title {
    padding-left: 20px;
    color: #F44F49;
    margin-top: 0px;
    font-size: 2.2em;
    text-shadow: 1px 4px 2px rgba(0,0,0,.16);
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

.row {
    width: 100%;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
}

.row-1 {
    height: 250px;
    background-color: #413C58;
    display: flex; 
    flex-wrap: wrap;
}

.skills-div {
    background-color: #F44F49;
    color: #FFFFFF;
}


.skill {
    display: flex; 
    flex-wrap: wrap;
}

.tech {
    text-align: right;
    vertical-align: bottom;
    padding-right: 10px;
    padding-top: 12px;
    font-size: 1.1em;
}

.bars {
    /*display: block;*/
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.three-bars {
    background: url(../imgs/3bars.png) no-repeat right 0px;
}

.four-bars {
    background: url(../imgs/4bars.png) no-repeat right 0px;
}

.two-bars {
    background: url(../imgs/2bars.png) no-repeat right 0px;
}

.section-title {
    text-align: center;
    font-size: 2.2em;
    color: #F44F49;
    text-shadow: 1px 4px 2px rgba(0,0,0,.16);
    /*font-family: 'Open Sans',sans-serif;*/

}

.about-me {
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 35px;
    text-shadow: 1px 4px 2px rgba(0,0,0,.16);

}

.my-work {
    color: black;
    background-color: #FFFFFF;
}

.top-skill-row {
    margin-top: 40px;
    margin-bottom: 20px;
}

.middle-skill-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-skill-row {
    margin-top: 20px;
    margin-bottom: 40px;
}

.phoney-pic {
    width: 600px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:auto;
}

.eclair-gif {
    width: 600px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:auto;
}

.guardian-gif {
    width: auto;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:auto;
}

.project-col {
    padding-top: 60px;
}

.project-title {
    padding-left: 100px;
    padding-right: 30px;
    font-size: 1.5em;
    color: #F44F49;
}

.project-text {
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
}

.about-me-text {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.about-me-row {
    background-color: #F44F49;
    display: flex; 
    flex-wrap: wrap;
}

.about-me-row a{
    color: white;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

.app {
    display: -webkit-flex;
    display: flex;
}

/*nav {
  border: 1px solid blue;
  width: 100%;
  height: 100px;
  background-color: #1C39BB;
  position: fixed;
  top: 0;left: 0;
  z-index:10;

}*/

a {
    color: #F44F49;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #F44F49;
}

a:visited {
    color: #A3C4BC;
}

.about-me-row a:hover {
    color: #F7CB15;
}

i {
  text-shadow: 1px 4px 2px rgba(0,0,0,.16);



}


@media screen and (max-width: 615px) {
  .project-pic{
    width: 380px;

  }
  .guardian-gif {
    width: auto;
    height: 300px;
  }

  .project-text {
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
    font-size: 1.2em;
  }

  .project-title {
    padding-left: 50px;
    font-size: 1.5em;
  }

  .about-me-text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.2em;
  }

  .header-container {
    width: 100%;
  }
  .my-name, .my-title {
    text-align: center;
  }

}


@media screen and (max-width: 675px) {
  .skills-div {
    display: none;
  }

  .header-container {
    width: 100%;
  }

  .my-name, .my-title {
    text-align: center;
  }

}

@media screen and (max-width: 760px) {
  .prof-pic-container {
    display: none;
  }

  .header-container {
    width: 100%;
  }

  .my-name, .my-title {
    text-align: center;
  }

}

@media screen and (max-width: 770px) {
  nav {
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 850px) {

  .tech {
      font-size: 1.3em;
      padding-top: 9px;

  }

}




@media screen and (min-width: 960px) {
  img, embed, object, video {
    max-width: 100%;
  }
  body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (max-width:1750px){
}

@media only screen and (max-width:1600px){
}

@media only screen and (max-width:1450px){
}

@media only screen and (max-width:1300px){
}

@media only screen and (max-width:1200px){
}

@media only screen and (max-width:1000px){
}

@media only screen and (max-width:790px){
}

@media only screen and (max-width:700px){
}

@media only screen and (max-width:640px){
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width:460px){
}

@media only screen and (max-width:420px){
}

@media only screen and (max-width:380px){

}

