* {
   /*outline: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

body {
    font-family: 'Muli', sans-serif;
    color: white;
    background-color: #76BED0;

}

.my-pic {
    width: 160px;
    height: auto;
    display: inline-block;
    margin: 40px;
}

.my-name {
    /*text-align: left;*/
    /*vertical-align: top;*/
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: 0px;
    color: #F7CB15;
    font-size: 3.2em;
    text-shadow: 1px 1px 1px #000000;
    /*display: inline-block;*/
}

.my-title {
    /*vertical-align: top;*/
    padding-left: 20px;
    color: #F55D3E;
    margin-top: 0px;
    font-size: 2.2em;
    text-shadow: 1px 1px 1px #000000;


    /*display: inline-block;*/
}

.row {
    width: 800px;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
}

.row-1 {
    height: 250px;
    background-color: #878E88;
    display: flex; 
    flex-wrap: wrap;
}

.skills-div {
    background-color: #F55D3E;
    color: #FFFFFF;
}


.skill {
    display: flex; 
    flex-wrap: wrap;
}

.tech {
    text-align: right;
    vertical-align: bottom;
    padding-right: 10px;
    padding-top: 12px;
    font-size: 1.1em;
}

.bars {
    /*display: block;*/
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.three-bars {
    background: url(../imgs/3bars.png) no-repeat right 0px;
}

.four-bars {
    background: url(../imgs/4bars.png) no-repeat right 0px;
}

.two-bars {
    background: url(../imgs/2bars.png) no-repeat right 0px;
}

.section-title {
  text-align: center;
  font-size: 2.2em;
  color: #F55D3E;
}

.about-me {
  text-align: center;
  font-size: 2em;
  color: white;
  margin: 35px;
}

.my-work {
    color: black;
    background-color: #FFFFFF;
}

.top-skill-row {
    margin-top: 40px;
    margin-bottom: 20px;
}

.middle-skill-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-skill-row {
    margin-top: 20px;
    margin-bottom: 40px;
}

.phoney-pic {
    width: 600px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:auto;
}

.eclair-gif {
    width: 600px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:auto;
}

.guardian-gif {
    width: auto;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:auto;
}

.project-col {
  padding-top: 60px;
}

.project-title {
    padding-left: 100px;
    padding-right: 30px;
    font-size: 1.5em;
    color: #F55D3E;
}

.project-text {
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
}

.about-me-text {
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 35px;
}

.about-me-row {
    background-color: #F55D3E;
    display: flex; 
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

.app {
    display: -webkit-flex;
    display: flex;
}

/*nav {
  border: 1px solid blue;
  width: 100%;
  height: 100px;
  background-color: #1C39BB;
  position: fixed;
  top: 0;left: 0;
  z-index:10;

}*/

a:link {
  color: #F55D3E;
}

a:visited {
  color: #76BED0;
}

@media screen and (min-width: 900px) {
  img, embed, object, video {
    max-width: 100%;
  }
}

@media only screen and (max-width:1750px){
}

@media only screen and (max-width:1600px){
}

@media only screen and (max-width:1450px){
}

@media only screen and (max-width:1300px){
}

@media only screen and (max-width:1200px){
}

@media only screen and (max-width:1000px){
}

@media only screen and (max-width:790px){
}

@media only screen and (max-width:700px){
}

@media only screen and (max-width:640px){
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width:460px){
}

@media only screen and (max-width:420px){
}

@media only screen and (max-width:380px){
  nav a, button {
    min-width: 48px;
    min-height: 48px;
  }
}

